

body {
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    width: 100%;
}

.margin {
    width: 75%;
    margin: 0 auto;
}


.header {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 92px;
    margin-top: 8px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-logo {
    font-size: 24px;
    font-weight: 1000;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.awesome {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
    /* gap: 16px; */
}

.awesome-container {
    color: #e5e7eb;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    width: 100%;
}

.awesome-header {
    font-size: 48px;
    font-weight: 900;
    align-items: center;
    margin-bottom: 8px;
}

.awesome-left {
    display:flex;
    flex-direction: column;
    flex: 1;

}

.awesome-right {
    display: flex;
    flex: 1;
    justify-content: right;
}

.awesome-text {
    color:hsla(220, 13%, 91%, 0.973);
    margin-bottom: 16px;
  }

button {
    background-color: #3882F6;
    color: #e5e7eb;
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 32px;
    border-radius: 8px;
}

.image {
 width: 70%;
 height: 200px;
 background-color: gray;
 display: flex;
 align-items: center;
 justify-content: center;
}

.section-2 {
    background-color: white;  
    text-align: center;
    padding-top: 32px;
    padding-bottom: 64px;
}

.random-container-info {
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 52px;
}

.random-title {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    margin-bottom: 32px;
}

.random-skills {
    justify-content: center;
    gap: 32px;
    max-width: 200px;
}

img {
    width: 75px;
    height: 75px;
    border-radius: 4px;
    border-color: #3882F6;
}

.section-3 {
    background-color: #e5e7eb;
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 200;
    font-style: italic;
    width: 60%;
}

.thor {
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.cta {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 70%;
    margin: 64px auto;
    padding: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.cta-left {
    display:flex;
    flex-direction: column;
    width: 50%;
}

.cta-right {
    width: 50%;
    display: flex;
    justify-content: right;
}

.cta-title {
    font-size: 24px;
    font-weight: 700;
}

.cta-text {
    font-size: 16px;
}

.sign-up-bottom {
    border: 1px solid white;
    border-radius: 10px;
}

.footer {
    color:#F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 32px;
}